div.footer{
    background: #111!important;
    color: white;
}

div.footer div.row{
    width: 100%;
}

div.footer div.container{
    padding: 2% 1%;
}

div.footer div.col-2, div.footer div.col-3{
    text-align: left;
}

div.footer div.row div.col-7{
    text-align: right;
}


div.footer div.tags {
    width: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    margin: 0 2%;
}

div.footer div.tags a{
    text-decoration: none;
}

div.footer div.tags a i{
    font-size: 28px;
    color: white;
    padding: 20% 35%;
    border-radius: 10px;
}

div.footer div.tags a i.fa-facebook{
    background: rgb(59, 89, 152);
    padding: 20% 45% !important;
}

div.footer div.tags a i.fa-envelope{
    background: #D54B3D;
}

div.footer div.tags a i.fa-github{
    background: #171515;
}

div.footer div.tags a i.fa-linkedin{
    background: #0077B5;
}

div.footer hr{
    border-color: rgba(0,0,0,0.4);
    border-width: 10px;
    border-style: dashed;
}

div.footer h6{
    text-align: center;
    font-size: 14px;
}